
.table.table-image td, th {
    vertical-align: middle;
}

p.tb {
    white-space: nowrap; 
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    display: flex;
    flex-direction: row;
}

#link {
    padding: 51% 0 0 0;
}

#img {
    width: 50%;
}

.btn.btn-info {
    margin-right: 5%;
}

.btn.btn-success {
    margin-right: 5%;
}

.btn.btn-danger {
    margin-right: 5%;
}

#btn {
    border: 0px solid;
    background: #17a2b8;
    color: white;
    font-weight: 700;
    width: 130px;
}